<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- File Logging (With Full Details) -->
		<target name="file"
				xsi:type="AsyncWrapper">
			<target xsi:type="File"
					fileName="${specialfolder:folder=LocalApplicationData}/XybLauncher/Logs/log.txt"
					archiveFileName="${specialfolder:folder=LocalApplicationData}/XybLauncher/Logs/log.{#}.txt"
					archiveNumbering="Rolling"
					archiveEvery="Day"
					maxArchiveFiles="7"
					layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}" />
		</target>

		<!-- Console Logging (Only Message, No Date/Log Type) -->
		<target name="console" xsi:type="Console" layout="${message}" />
	</targets>

	<rules>
		<!-- Log everything (Trace and higher) to the file -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!-- Log only Info and higher to the console -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>

</nlog>
